@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Poppins&family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    display: flex;
    min-height: 100vh;
    background-color: #F5F5F5;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 80px;
    background-color: #FFF;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
nav i {
    color: #000;
    font-size: 30px;
}
.container_single {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 100vh;
    margin-left: 80px;
}
/* session home admin */
.header {
    background-color: #FFF;
    padding: 10px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
}
.header .icon_menu {
    cursor: pointer;
}
.header .icon_menu i {
    font-size: 20px;
}
.title_page {
    margin-left: 10px;
}
.link_add_page {
    width: 150px;
    text-decoration: none;
    margin: 10px 0 10px 10px;
    padding: 10px;
    background-color: #21910a;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: .3s;
}
.link_add_page:hover {
    background-color: #177405;
}
table {
    margin: 10px;
    border-collapse: collapse;
}
table .th_actions {
    width: 120px;
}
table th {
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    padding: 10px;
}
table td {
    padding: 10px;
    background-color: #FFF;
    border: 1px solid #ccc;
}
table .links_td_page {
    float: right;
}
table .links_td_page a {
    display: inline-block;
}
table .links_td_page .link_edit_page {
    background-color: #21910a;
    padding: 5px;
    color: #fff;
    border-radius: 5px;
}
table .links_td_page .link_delete_page {
    background-color: rgb(146, 0, 0);
    padding: 5px;
    color: #fff;
    border-radius: 5px;
}
table td i.fa-ellipsis {
    float: right;
    font-size: 20px;
    cursor: pointer;
}
table a {
    display: block;
    color: #000;
    text-decoration: none;
    margin-bottom: 5px;
    padding: 5px 10px;
    transition: .3s;
    border-radius: 10px;
}
table a:hover {
    background-color: #F5F5F5;
}

/* session page links */
.area_total {
    flex: 1;
    display: flex;
}
.area_total h2 {
    margin: 10px 0 0 10px;
}
.area_total .left_side {
    flex: 1;
    border-right: 1px solid #ccc;
}
.area_total .left_side header {
    display: flex;
    align-items: center;
    background-color: #FFF;
    border: 1px solid #ccc;
}
.area_total .left_side header .icon_menu {
    margin: 0 15px 0 10px;
    cursor: pointer;
}
.area_total .left_side header .icon_menu i {
    font-size: 20px;
}
.area_total .left_side header ul {
    display: flex;
    list-style: none;
}
.area_total .left_side header ul li {
    border-bottom: 2px solid #FFF;
}
.area_total .left_side header ul li:hover {
    border-bottom: 2px solid #21910a;
}
.area_total .left_side header ul li.active {
    border-bottom: 2px solid #21910a;
}
.area_total .left_side header ul li a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 15px;
}
.area_total .left_side span {
    float: right;
}
.area_total .left_side a.big_button {
    width: 120px;
    display: block;
    text-decoration: none;
    background-color: #21910a;
    border-radius: 10px;
    border: 1px solid #ccc;
    color: #fff;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 18px;
    transition: .3s;
}
.area_total .left_side a.big_button:hover {
    background-color: #177405;
}
.area_total .left_side .verify_qtd_links {
    margin: 10px;
}
.area_total .left_side #links {
    list-style: none;
    margin: 10px;
}
.area_total .left_side .link_item_list {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 2px #ccc;
}
.area_total .left_side .link_item_list .link_item_order {
    cursor: move;
    margin-right: 10px;
}
.area_total .left_side .link_item_list .link_item_info {
    flex: 1;
}
.area_total .left_side .link_item_list .link_item_buttons a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    transition: .3s;
}
.area_total .left_side .link_item_list .link_item_buttons .link_edit_link {
    background-color: #21910a;
}
.area_total .left_side .link_item_list .link_item_buttons .link_delete_link {
    background-color: rgb(146, 0, 0);
}
.area_total .right_side {
    margin: 0 auto;
}
.area_total .right_side iframe {
    width: 350px;
    height: 550px;
    border: 5px solid #000;
    border-radius: 20px;
    margin: 20px;
}
/* session edit link */
h3 {
    margin: 15px 0 10px 10px;
}
form {
    margin: 10px;
}
form label {
    display: block;
    margin-bottom: 10px;
}
form input,
form select {
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: 0;
    font-size: 17px;
}
form input[type="submit"] {
    width: 100px;
    font-size: 18px;
    cursor: pointer;
    background-color: #21910a;
    color: #fff;
}

/* session page stats */
.welcome_to_user {
    margin: 10px;
}
.welcome_to_user h1 {
    font-size: 20px;
    margin-bottom: 10px;
}
.stats_page_area {
    display: flex;
    width: 500px;
}
.stats_page_area .card_stats {
    background-color: #fff;
    color: #000;
    width: 250px;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 2px 2px #ccc;
    border-left: 3px solid #21910a;
}
.stats_page_area .card_stats h1 {
    font-size: 30px;
}
.stats_page_area .card_stats h4 {
    margin-top: 20px;
    font-size: 18px;
}

/* session add page */
.link_voltar {
    margin: 20px 10px;
}
.link_voltar a {
    text-decoration: none;
    color: #000;
    background-color: #F5F5F5;
    border: 1px solid #ccc;
    padding: 5px 20px;
    border-radius: 10px;
    transition: .3s;
}
.link_voltar a:hover {
    background-color: #ddd;
}
.link_voltar a i {
    font-size: 18px;
}
.form_add_page {
    width: 100%;
    max-width: 600px;
}
.form_add_page input {
    margin-bottom: 10px;
}

/* session edit page */
.area_editpage {
    flex: 1;
    display: flex;
    padding-bottom: 50px;
}
.area_editpage .area_form_editpage {
    flex: 1;
    border-right: 1px solid #ccc;
}
.area_editpage .area_form_editpage .link_voltar {
    margin: 20px 10px;
}
.area_editpage .area_form_editpage .link_voltar a {
    text-decoration: none;
    color: #000;
    background-color: #F5F5F5;
    border: 1px solid #ccc;
    padding: 5px 20px;
    border-radius: 10px;
    transition: .3s;
}
.area_editpage .area_form_editpage .link_voltar a:hover {
    background-color: #ddd;
}
.area_editpage .area_form_editpage .link_voltar a i {
    font-size: 18px;
}
.area_editpage .area_form_editpage img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.area_form_editpage .form_edit_page input {
    margin-bottom: 10px;
    font-size: 17px;
}
.area_form_editpage .form_edit_page input[type='file'] {
    padding: 5px;
}
.area_editpage .area_iframe iframe {
    width: 350px;
    margin: 10px;
    height: 550px;
    border: 5px solid #000;
    border-radius: 20px;
}

@media (max-width: 768px) {
    /* session edit page */
    .area_editpage {
        flex-direction: column;
    }
    /* session page links */
    .area_total {
        flex-direction: column;
    }
    .area_total .right_side {
        margin: 0;
    }
    /* session page stats */
    .stats_page_area {
        flex-direction: column;
    }
    .stats_page_area .card_stats {
        width: 100%;
    }

}

@media (max-width: 600px) {
    .stats_page_area {
        width: 350px;
    }
}

