* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.area_login {
    width: 100%;
    max-width: 400px;
    margin-top: 50px;
    padding: 30px 20px;
    background-color: #fff;
    border: 1px solid #ccc;
}
.area_login h1 {
    margin: 0 0 20px 0;
}
.area_login .error_msg {
    width: 100%;
    background-color: #F8D7DA;
    color: #842029;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 15px 10px;
    border: 1px solid #f5c2c7;
}
.area_login input {
    width: 100%;
    margin-bottom: 10px;
    padding: 15px 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: 0;
}
.area_login input[type='submit'] {
    cursor: pointer;
    font-size: 18px;
    background-color: #28C2FF;
    color: #fff;
}
.area_login a {
    text-decoration: none;
    color: #000;
    transition: .3s;
}
.area_login a:hover {
    text-decoration: underline;
    color: #28C2FF;
}
