@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Poppins&family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --color-primary: #21910A;
    --bg-default: #f5f5f5;
    --text-color-primary: #000;
    --text-color-secondary: #444;
    --border-default: 1px solid #ccc;
    --box-shadow-default: 2px 2px 5px 0 rgba(0,0,0,0.5);
    --font-weight-default: 400;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: var(--bg-default);
}

/* css reuseable */
.title {
    font-weight: var(--font-weight-default);
    font-size: 25px;
    margin-bottom: 35px;
}

.subtitle {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 16px;
}

.section_home, .section_pages_list, .section_add_page,
.section_edit_page, .section_links_list, .section_edit_link,
.section_page_stats, .section_profile_user {
    padding: 36px 20px;
}

.btn_primary {
    width: 130px;
    font-size: 17px;
    color: #fff;
    background-color: var(--color-primary);
    padding: 10px 20px;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
}

.btn_secondary {
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    color: var(--text-color-primary);
    border-radius: 10px;
    border: var(--border-default);
    padding: 7px 20px;
}

.area_title {
    display: flex;
    justify-content: space-between;
}

/* css template */
.left_side_template {
    position: fixed;
    z-index: 99;
    width: 230px;
    height: 100vh;
    padding: 0 20px;
    background-color: #fff;
    border-right: var(--border-default);
}

.left_side_template .area_top_template {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_side_template .area_top_template .btn_close_sidebar i {
    display: none;
    cursor: pointer;
    font-size: 20px;
}

.left_side_template .area_links_template {
    padding-top: 18px;
}

.left_side_template .area_links_template .link_item {
    padding-bottom: 20px;
}

.left_side_template .area_links_template .link_item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color-primary);
    transition: .3s;
    font-size: 18px;
}

.left_side_template .area_links_template .link_item a:hover,
.left_side_template .area_links_template .link_item a.active {
    color: var(--color-primary);
}

.left_side_template .area_links_template .link_item a .icon {
    width: 25%;
}

.left_side_template .area_links_template .link_item a .icon i {
    font-size: 20px;
}

.left_side_template .area_links_template .link_item:nth-child(2) .area_sub_menu {
    display: flex;
    justify-content: center;
}

.left_side_template .area_links_template .link_item:nth-child(2) .area_sub_menu ul {
    list-style: none;
}

.left_side_template .area_links_template .link_item:nth-child(2) .area_sub_menu ul li a {
    display: block;
    margin-top: 20px;
    transition: .3s;
}

.left_side_template .area_links_template .link_item:nth-child(2) .area_sub_menu ul li a:hover {
    color: var(--color-primary);
}

.container_single {
    width: 100%;
    margin-left: 230px;
}

.container_single .area_static {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-bottom: var(--border-default);
    padding: 10px 20px;
}

.container_single .area_static .icon_menu {
    cursor: pointer;
}

.container_single .area_static .icon_menu i {
    font-size: 20px;
}

.container_single .area_static .right_side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.container_single .area_static .right_side .profile_popup {
    display: none;
    width: 150px;
    position: absolute;
    top: 80px;
    right: 20px;
    z-index: 99;
    background-color: #fff;
    border-radius: 10px;
    border: var(--border-default);
    padding: 20px 20px 0 20px;
}

.container_single .area_static .right_side .profile_popup .area_links_popup a {
    display: block;
    text-decoration: none;
    color: var(--text-color-primary);
    transition: .3s;
    margin-bottom: 20px;
}

.container_single .area_static .right_side .profile_popup .area_links_popup a:hover {
    color: var(--color-primary);
}

.container_single .area_static .right_side .profile_popup .area_links_popup a i {
    margin-right: 10px;
}

.container_single .area_static .right_side .link_add_page a {
    text-decoration: none;
    color: #fff;
    background-color: var(--color-primary);
    border-radius: 10px;
    padding: 10px 20px;
}

.container_single .area_static .right_side .profile_img img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

/* css section page index(home) */
.section_home .area_example_items {
    display: grid;
    grid-template-columns: repeat(auto-fill, 215px);
    gap: 8px;
    padding-bottom: 35px;
}

.section_home .area_example_items .example_item img {
    width: 215px;
    height: 300px;
    border-radius: 10px;
    box-shadow: var(--box-shadow-default);
    object-fit: cover;
}

/* css section page list */
.section_pages_list .area_title .area_btn_add_page a i {
    margin-right: 10px;
}

.section_pages_list .area_table_list table {
    width: 100%;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    border: var(--border-default);
}

.section_pages_list .area_table_list table thead tr th,
.section_pages_list .area_table_list table tbody tr td {
    font-weight: var(--font-weight-default);
    text-align: start;
    padding: 8px 20px;
}

.section_pages_list .area_table_list table thead tr th:last-child {
    width: 100px;
}

.section_pages_list .area_table_list table tbody tr {
    position: relative;
}

.section_pages_list .area_table_list table tbody tr td {
    border-top: var(--border-default);
}

.section_pages_list .area_table_list table tbody tr td img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.section_pages_list .area_table_list table tbody tr td:nth-child(1) {
    display: flex;
    align-items: center;
}

.section_pages_list .area_table_list table tbody tr td:nth-child(3) {
    text-align: center;
}

.section_pages_list .area_table_list table tbody tr td:nth-child(3) .area_toggle_icon {
    cursor: pointer;
}

.section_pages_list .area_table_list table tbody tr td:nth-child(4) {
    display: none;
    position: absolute;
    top: 40px;
    right: 50px;
    z-index: 99;
    width: 247px;
    height: 220px;
    border-radius: 10px;
    border: var(--border-default);
    background-color: #fff;
}

.section_pages_list .area_table_list table tbody tr td:nth-child(4) .content_modal {
    padding: 15px 0;
}

.section_pages_list .area_table_list table tbody tr td:nth-child(4) .content_modal .link_item_modal {
    padding-bottom: 15px;
}

.section_pages_list .area_table_list table tbody tr td:nth-child(4) .content_modal .link_item_modal a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color-primary);
    font-size: 18px;
    transition: .3s;
}

.section_pages_list .area_table_list table tbody tr td:nth-child(4) .content_modal .link_item_modal a:hover {
    color: var(--color-primary);
}

.section_pages_list .area_table_list table tbody tr td:nth-child(4) .content_modal .link_item_modal a .left {
    width: 25%;
}

.section_pages_list .not_found_pages span a {
    text-decoration: none;
    color: var(--color-primary);
    transition: .3s;
}

.section_pages_list .not_found_pages span a:hover {
    text-decoration: underline;
}

/* css section add page */
.section_add_page .area_form {
    background-color: #fff;
    border: var(--border-default);
    border-radius: 10px;
    padding: 20px;
}

.section_add_page .area_form form label {
    font-size: 20px;
}

.section_add_page .area_form form input[type="text"] {
    width: 100%;
    border: var(--border-default);
    border-radius: 10px;
    padding: 17px 20px;
    font-size: 17px;
    color: var(--text-color-primary);
    margin: 20px 0;
    outline: 0;
}

/* css secton edit page */
.section_edit_page .area_form_global .form_single .area_first_session {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    background-color: #fff;
    border: var(--border-default);
    border-radius: 10px;
    padding: 50px 20px;
    margin-bottom: 30px;
}

.section_edit_page .area_form_global .form_single .area_first_session .area_upload_img .area_img img {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.section_edit_page .area_form_global .form_single .area_first_session .area_upload_img .area_img label input[type="file"] {
    display: none;
}

.section_edit_page .area_form_global .form_single .area_first_session .area_upload_img .area_img label {
    display: block;
    padding: 12px 16px;
    font-size: 17px;
    background-color: #fff;
    color: var(--text-color-primary);
    border: var(--border-default);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.section_edit_page .area_form_global .form_single .area_first_session .area_inputs .row_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.section_edit_page .area_form_global .form_single .area_first_session .area_inputs .row_1 label {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.section_edit_page .area_form_global .form_single .area_first_session .area_inputs {
    width: 70%;
}

.section_edit_page .area_form_global .form_single .area_first_session .area_inputs .row_1 label input {
    width: 100%;
    border: var(--border-default);
    border-radius: 10px;
    padding: 17px 20px;
    font-size: 17px;
    color: var(--text-color-primary);
    margin: 20px 0;
    outline: 0;
}

.section_edit_page .area_form_global .form_single .area_first_session .area_inputs .row_2 label {
    font-size: 20px;
}

.section_edit_page .area_form_global .form_single .area_first_session .area_inputs .row_2 label input {
    width: 100%;
    border: var(--border-default);
    border-radius: 10px;
    padding: 17px 20px;
    font-size: 17px;
    color: var(--text-color-primary);
    margin: 20px 0;
    outline: 0;
}

.section_edit_page .area_form_global .form_single .area_second_session {
    max-width: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    border: var(--border-default);
    border-radius: 10px;
    padding: 20px;
    gap: 20px;
}

.section_edit_page .area_form_global .form_single .area_second_session .col_item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.section_edit_page .area_form_global .form_single .area_second_session .col_item label {
    font-size: 20px;
}

.section_edit_page .area_form_global .form_single .area_second_session .col_item input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.section_edit_page .area_form_global .form_single .area_second_session .col_item input[type="color"]::-webkit-color-swatch {
    border-radius: 10px;
}

.section_edit_page .area_form_global .form_single .area_input_save .input_save {
    margin-top: 35px;
    padding: 15px 16px;
    background-color: var(--color-primary);
    color: #fff;
    border-radius: 10px;
    font-size: 17px;
    border: 0;
    cursor: pointer;
}

/* css section page links */
.section_links_list .area_title .area_btn_add_link a i {
    margin-right: 10px;
}

.section_links_list .area_list .list_item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--box-shadow-default);
    margin-bottom: 15px;
}

.section_links_list .area_list .list_item .left_side {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section_links_list .area_list .list_item .left_side .area_icon_sort {
    margin-right: 20px;
    padding: 5px;
    cursor: grab;
}

.section_links_list .area_list .list_item .left_side .area_info_content .link_title h3 {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 5px;
}

.section_links_list .area_list .list_item .left_side .area_info_content .link_url span {
    color: var(--text-color-secondary);
    font-size: 16px;
}

.section_links_list .area_list .list_item .right_side .area_icon_options {
    cursor: pointer;
    padding: 5px;
}

.section_links_list .area_list .list_item .popup_link_item {
    display: none;
    width: 150px;
    position: absolute;
    top: 80px;
    right: 0;
    z-index: 99;
    background-color: #fff;
    border-radius: 10px;
    border: var(--border-default);
    box-shadow: var(--box-shadow-default);
}

.section_links_list .area_list .list_item .popup_link_item .area_links_popup {
    padding: 20px 20px 10px 20px;
}

.section_links_list .area_list .list_item .popup_link_item .area_links_popup ul {
    list-style: none;
}

.section_links_list .area_list .list_item .popup_link_item .area_links_popup ul li a {
    display: block;
    text-decoration: none;
    color: var(--text-color-primary);
    margin-bottom: 15px;
    transition: .3s;
}

.section_links_list .area_list .list_item .popup_link_item .area_links_popup ul li a:hover {
    color: var(--color-primary);
}

.section_links_list .area_list .list_item .popup_link_item .area_links_popup ul li a i {
    margin-right: 10px;
}

.section_links_list .not_found_pages span a {
    text-decoration: none;
    color: var(--color-primary);
    transition: .3s;
}

.section_links_list .not_found_pages span a:hover {
    text-decoration: underline;
}

/* css section edit link */
.section_edit_link .area_form_global_edit_link .area_first_card {
    background-color: #fff;
    border: var(--border-default);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 35px;
}

.section_edit_link .area_form_global_edit_link .area_first_card .row_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.section_edit_link .area_form_global_edit_link .area_first_card .row_item label {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.section_edit_link .area_form_global_edit_link .area_first_card .row_item label select,
.section_edit_link .area_form_global_edit_link .area_first_card .row_item label input {
    border-radius: 10px;
    border: var(--border-default);
    padding: 17px 20px;
    font-size: 17px;
    color: var(--text-color-primary);
    margin: 20px 0;
    outline: 0;
}


.section_edit_link .area_form_global_edit_link .area_second_card {
    max-width: 491px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    border: var(--border-default);
    border-radius: 10px;
    padding: 20px;
    gap: 20px;
}

.section_edit_link .area_form_global_edit_link .area_second_card .info_color_item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.section_edit_link .area_form_global_edit_link .area_second_card .info_color_item label {
    font-size: 20px;
}

.section_edit_link .area_form_global_edit_link .area_second_card .info_color_item input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.section_edit_link .area_form_global_edit_link .area_second_card .info_color_item input[type="color"]::-webkit-color-swatch {
    border-radius: 10px;
}

.section_edit_link .area_form_global_edit_link .area_btn_save input {
    margin-top: 35px;
    background-color: var(--color-primary);
    color: #fff;
    border-radius: 10px;
    padding: 17px 20px;
    border: 0;
    font-size: 17px;
    cursor: pointer;
}

/* css section page stats */
.section_page_stats .area_title_stats h1 {
    font-weight: 400;
    font-size: 30px;
}

.section_page_stats .area_title_stats h4 {
    font-weight: 400;
    font-size: 17px;
    color: #333;
    margin-top: 5px;
    margin-bottom: 35px;
}

.section_page_stats .area_content_stats {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    gap: 20px;
    padding-bottom: 35px;
}

.section_page_stats .area_content_stats .stats_item {
    width: 350px;
    padding: 30px 20px;
    color: #fff;
    border-radius: 10px;
    box-shadow: var(--box-shadow-default);
}

.section_page_stats .area_content_stats .stats_item:nth-child(1) {
    background-color: #AEAEFF;
}

.section_page_stats .area_content_stats .stats_item:nth-child(2) {
    background-color: #9CCD76;
}

.section_page_stats .area_content_stats .stats_item:nth-child(3) {
    background-color: #CD7676;
}

.section_page_stats .area_content_stats .stats_item .area_content_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.section_page_stats .area_content_stats .stats_item .area_content_top .views_data h1 {
    font-weight: 400;
    font-size: 45px;
}


.section_page_stats .area_content_stats .stats_item .area_content_top .area_icon i {
    font-size: 45px;
}


.section_page_stats .area_content_stats .stats_item .area_content_bottom p {
    font-size: 20px;
}

/* css section profile user */
.section_profile_user .area_profile_user .area_card_inputs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    background-color: #fff;
    border-radius: 10px;
    border: var(--border-default);
    padding: 50px 20px;
}

.section_profile_user .area_profile_user .area_card_inputs .area_form_left img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.section_profile_user .area_profile_user .area_card_inputs .area_form_left label {
    display: block;
    border-radius: 10px;
    border: var(--border-default);
    padding: 15px;
    font-size: 17px;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
}

.section_profile_user .area_profile_user .area_card_inputs .area_form_left label input[type="file"] {
    display: none;
}

.section_profile_user .area_profile_user .area_card_inputs .area_form_right {
    width: 70%;
}

.section_profile_user .area_profile_user .area_card_inputs .area_form_right .row {
    display: flex;
    align-items: center;
    gap: 20px;
}

.section_profile_user .area_profile_user .area_card_inputs .area_form_right .row label {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.section_profile_user .area_profile_user .area_card_inputs .area_form_right .row label input {
    width: 100%;
    border: var(--border-default);
    border-radius: 10px;
    padding: 17px 20px;
    font-size: 17px;
    outline: 0;
    margin: 20px 0;
}

.section_profile_user .area_profile_user .area_card_inputs .area_form_right .row label input[type="email"]:hover {
    cursor: not-allowed;
}

.section_profile_user .area_profile_user form .area_input_save input {
    margin-top: 35px;
    padding: 15px 16px;
    background-color: var(--color-primary);
    color: #fff;
    border-radius: 10px;
    font-size: 17px;
    border: 0;
    cursor: pointer
}

/* break points */
@media (max-width: 768px) {
    /* global */
    .left_side_template {
        display: none;
    }
    .container_single {
        margin-left: 0;
    }

    /* section page list */

    /* section add page */

    /* secton edit page */
    .section_edit_page .area_form_global .form_single .area_first_session .area_inputs {
        width: 100%;
    }
    .section_edit_page .area_form_global .form_single .area_first_session .area_inputs .row_1 {
        flex-wrap: wrap;
        gap: 0;
    }
    /* section page links */

    /* section edit link */

    /* section page stats */
    .section_page_stats .area_content_stats {
        grid-template-columns: none;
    }
    .section_page_stats .area_content_stats .stats_item {
        width: 100%;
    }
    /* section profile user */
    .section_profile_user .area_profile_user .area_card_inputs .area_form_right {
        width: 100%;
    }
    .section_profile_user .area_profile_user .area_card_inputs .area_form_right .row {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    /* global */
    .left_side_template {
        width: 100vw;
    }
    .left_side_template .area_top_template .btn_close_sidebar i {
        display: block;
    }
}
