@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Poppins&family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    background-color: #fff;
}

.area_login {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.area_login .left_side {
    width: 35%;
    padding: 50px 20px;
    background-color: #21910a;
    color: #fff;
}

.area_login .left_side .link_voltar {
    display: none;
    margin-bottom: 25px;
}

.area_login .left_side .link_voltar a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.area_login .left_side .title .border_underline {
    width: 80px;
    height: 3px;
    background-color: #fff;
    border-radius: 10px;
    margin: 5px 0 40px 0;
}

.area_login .left_side .error_msg {
    width: 100%;
    background-color: #F8D7DA;
    color: #842029;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 15px 10px;
    border: 1px solid #f5c2c7;
}

.area_login .left_side .error_msg i {
    margin-right: 5px;
}

.area_login .left_side .area_form form label {
    display: block;
    margin-bottom: 7px;
    font-size: 18px;
}

.area_login .left_side .area_form form input {
    width: 100%;
    margin-bottom: 13px;
    padding: 15px 10px;
    border-radius: 10px;
    font-size: 16px;
    border: 0;
    outline: 0;
}

.area_login .left_side .area_form form input[type='submit'] {
    cursor: pointer;
    font-size: 18px;
    background-color: transparent;
    border: 3px solid #fff;
    color: #fff;
    transition: .3s;
    margin-top: 20px;
}

.area_login .left_side .area_form form input[type='submit']:hover {
    transform: translateX(5px);
}

.area_login .left_side .area_form form span.single_span {
    margin-left: -30px;
    margin-top: 15px;
    position: absolute;
    cursor: pointer;
}

.area_login .left_side .area_form form span.single_span i {
    color: #ccc;
}

.area_login .left_side .area_form form p {
    margin-top: 20px;
}

.area_login .left_side .area_form form p a {
    text-decoration: none;
    color: #000;
    transition: .5s;
}

.area_login .left_side .area_form form p a:hover {
    text-decoration: underline;
}

.area_login .right_side {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #ccc;
}

.area_login .right_side img {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    transition: .3s;
}

.area_login .right_side img:hover {
    box-shadow: 5px 5px 2px 2px rgba(0,0,0,0.25);
}

@media (max-width: 768px) {
    .area_login .left_side {
        width: 100%;
    }
    .area_login .right_side {
        display: none;
    }
    .area_login .left_side .link_voltar {
        display: block;
    }
}
