@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Poppins&family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html, body {
    width: 100%;
    height: 100%;
}

:root {
    --color-primary: #21910a;
    --text-color-secondary: #333;
}

/* css reusable */
.btn_cta {
    display: block;
    margin-top: 30px;
    text-decoration: none;
    text-align: center;
    color: var(--color-primary);
    border-radius: 10px;
    border: 3px solid var(--color-primary);
    padding: 10px;
    font-size: 17px;
    transition: .3s;
}

/* session header */
.section_header {
    width: 100%;
    background-color: #fff;
    height: 85px;
}

.section_header .area_header {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section_header .area_header .btn_toggle_menu_mobile {
    display: none;
    font-size: 20px;
}

.section_header .area_header .area_menu_mobile {
    display: none;
}

.section_header .area_header .area_menu_desktop nav a {
    text-decoration: none;
    color: #000;
    font-size: 17px;
    margin-left: 20px;
    transition: .3s;
}

.section_header .area_header .area_menu_desktop nav a:hover {
    color: var(--color-primary);
}

.section_header .area_header .area_menu_desktop nav a.btn_register {
    color:#fff;
    background-color: var(--color-primary);
    border-radius: 10px;
    padding: 10px 20px;
}

.section_header .area_header .area_menu_desktop nav a.btn_register:hover {
    background-color: #177405;
}

/* session banner */
.section_banner {
    width: 100%;
    padding: 40px 0 85px 0;
}

.section_banner .area_banner {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
}

.section_banner .area_banner .area_banner_left_side .title h1 {
    width: 85%;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
}
.section_banner .area_banner .area_banner_left_side .area_btn_cta {
    margin-top: 40px;
}

.section_banner .area_banner .area_banner_left_side .area_btn_cta a {
    text-decoration: none;
    color: var(--color-primary);
    background-color: transparent;
    padding: 10px 20px;
    border: 3px solid #21910a;
    border-radius: 10px;
    font-size: 17px;
    transition: .3s;
}

.section_banner .area_banner .area_banner_left_side .area_btn_cta a:hover {
    background-color: var(--color-primary);
    color: #fff;
}

.section_banner .area_banner .area_banner_right_side .area_img {
    width: 350px;
    height: 350px;
}

.section_banner .area_banner .area_banner_right_side .area_img  img {
    max-width: inherit;
    height: inherit;
    width: 100%;
}

/* session panel */
.section_panel {
    width: 100%;
    padding-bottom: 85px;
}

.section_panel .area_container {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
}

.section_panel .area_container .left_side .area_img {
    width: 437px;
    height: 246px;
}

.section_panel .area_container .left_side .area_img img {
    width: inherit;
    height: inherit;
    width: 100%;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
    object-fit: contain;
}

.section_panel .area_container .right_side {
    max-width: 400px;
    width: 100%;
}

.section_panel .area_container .right_side .content_right_side .title h2 {
    font-size: 40px;
    font-weight: 400;
}

.section_panel .area_container .right_side .content_right_side .description p {
    color: var(--text-color-secondary);
    font-size: 20px;
    margin-top: 13px;
}

.section_panel .area_container .right_side .content_right_side .area_btn_cta a:hover {
    background-color: var(--color-primary);
    color: #fff;
}

/* session stats */
.section_stats {
    width: 100%;
    padding-bottom: 85px;
}

.section_stats .area_section_stats {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
}

.section_stats .area_section_stats .area_left_side {
    max-width: 430px;
    width: 100%;
}

.section_stats .area_section_stats .area_left_side .content_left_side .title h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 13px;
}

.section_stats .area_section_stats .area_left_side .content_left_side .description p {
    font-size: 20px;
    color: var(--text-color-secondary);
}

.section_stats .area_section_stats .area_left_side .content_left_side .area_btn_cta a {
    width: 170px;
}

.section_stats .area_section_stats .area_left_side .content_left_side .area_btn_cta a:hover {
    background-color: var(--color-primary);
    color: #fff;
}

.section_stats .area_section_stats .area_right_side .area_img img {
    width: 363px;
    height: 329px;
}

/* session footer */
.section_footer {
    width: 100%;
}

.section_footer .area_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

.section_footer .area_footer .footer_right .navigation ul {
    display: flex;
    list-style: none;
}

.section_footer .area_footer .footer_right .navigation a {
    text-decoration: none;
    color: #000;
    margin-right: 20px;
    font-size: 18px;
    transition: .3s;
}

.section_footer .area_footer .footer_right .navigation a:hover {
    color: #21910a;
}

/* medias */
@media (max-width: 1024px) {
    .area_header, .area_banner, .area_container, .area_section_stats,
    .area_section_single, .area_footer {
        padding: 0 20px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .section_banner {
        height: auto;
    }
    .section_banner .area_banner .area_banner_right_side .area_img {
        margin-top: 50px;
    }
    .section_panel .area_container .right_side .content_right_side h2 {
        font-size: 45px;
        margin-left: 0px;
        margin: 20px 0px;
    }
    .section_panel .area_container .left_side .area_img {
        margin-bottom: 50px;
    }
    .section_stats {
        height: auto;
    }
    .section_stats .area_section_stats .area_left_side {
        margin-top: 20px;
    }
    .section_stats .area_section_stats .area_right_side .area_img img {
        margin-top: 50px;
    }
}

@media (max-width: 670px) {
    .section_banner .area_banner .area_banner_left_side .title h1 {
        width: 100%;
    }
    .section_panel .area_container .left_side .area_img {
        width: 450px;
        height: 250px;
    }
    .section_stats .area_section_stats .area_left_side .content_left_side h2 {
        width: 100%;
    }
    .section_single .area_section_single .area_content_text h2 {
        width: 100%;
    }
    .section_single .area_section_single .box_left_side_itens {
        flex-wrap: wrap;
    }
}

@media (max-width: 540px) {
    .section_header .area_header .area_menu_desktop {
        display: none;
    }
    .section_header .area_header .btn_toggle_menu_mobile {
        display: block;
    }
    .section_header .area_header .area_menu_mobile .btn_close_menu_mobile {
        font-size: 25px;
        margin-bottom: 10px;
        margin: 10px 0px 0px 20px;
    }
    .section_header .area_header .area_menu_mobile {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 0vw;
        height: 100vh;
        background-color: #f5f5f5;
        transition: all ease-in .4s;
    }
    .section_header .area_header .area_menu_mobile nav {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    .section_header .area_header .area_menu_mobile nav a {
        margin-bottom: 10px;
        text-decoration: none;
        color: #000;
        width: 170px;
        padding: 0px 20px;
    }
    .section_header .area_header .area_menu_mobile nav a:hover {
        color: var(--color-primary);
    }
    .section_header .area_header .area_menu_mobile nav a.btn_register {
        color:#fff;
        background-color: var(--color-primary);
        border-radius: 10px;
        padding: 10px 20px;
    }
    .section_header .area_header .area_menu_mobile nav a.btn_register:hover {
        background-color: #177405;
    }
    .section_panel .area_container .left_side .area_img {
        width: 100%;
        height: 200px;
    }
    .section_panel .area_container .right_side .content_right_side h2 {
        font-size: 35px;
        line-height: 40px;
    }
    .section_footer .area_copy {
        margin-bottom: 50px;
    }
}

@media (max-width: 425px) {
    .section_banner .area_banner, .section_panel .area_container,
    .section_stats .area_section_stats {
        justify-content: center;
    }
    .section_banner .area_banner .area_banner_left_side .title h1 {
        font-size: 25px;
        line-height: 35px;
    }
    .section_banner .area_banner .area_banner_left_side .area_btn_cta a {
        display: block;
        text-align: center;
    }
    .section_banner .area_banner .area_banner_right_side .area_img {
        width: 310px;
        height: 280px;
    }
    .section_panel .area_container .right_side .content_right_side .title h2 {
        font-size: 30px;
    }
    .section_panel .area_container .right_side .content_right_side .description p {
        font-size: 18px;
    }
    .section_stats .area_section_stats .area_left_side .content_left_side .title h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .section_stats .area_section_stats .area_left_side .content_left_side .area_btn_cta a {
        width: initial;
    }
    .section_stats .area_section_stats .area_left_side .content_left_side .description p {
        font-size: 18px;
    }
    .section_footer .area_footer {
        justify-content: center;
    }
    .section_footer .area_copy p {
        font-size: 15px;
        text-align: center;
    }
}

@media (max-width: 375px) {
    .section_stats .area_section_stats .area_right_side .area_img img {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 320px) {
    .section_panel .area_container .left_side .area_img {
        margin-bottom: 0;
        height: 150px;
    }
    .section_panel .area_container .right_side .content_right_side .title h2 {
        font-size: 25px;
    }
    .section_panel .area_container .right_side .content_right_side .description p {
        font-size: 15px;
    }
    .section_stats .area_section_stats .area_left_side .content_left_side .title h2 {
        line-height: 35px;
        font-size: 25px;
    }
    .section_stats .area_section_stats .area_left_side .content_left_side .description p {
        font-size: 15px;
    }
}

